.navigation {
    height: 45px;
}

.navigation .navigation-ul a {
    width: 45px;
    height: 45px;
    z-index: 12;
}

.navigation .navigation-ul a .icon {
    line-height: 45px;
    font-size: 1.6em;
    transition: 0.5s;
}

.navigation .navigation-ul a.active .icon {
    line-height: 0;
    transform: translateY(-14px);
    color: #3f83f8;
}

.navigation .navigation-ul a .text {
    position: absolute;
    color: rgba(63, 131, 248, var(--text-opacity));
    font-weight: 500;
    font-size: 0.6em;
    letter-spacing: 0.04em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(15px);
}

.navigation .navigation-ul a.active .text {
    transform: translateY(5px);
    opacity: 1;
}

.navigation .show {
    position: absolute;
    top: -13px;
    width: 50px;
    height: 40px;
    transition: 0.5s;
    border-radius: 50%;
    transform: translateY(100px);
    background: #fff;
}

.navigation a.active .show {
    transform: translateY(0);
}

.navigation .show::before {
    content: "";
    position: absolute;
    top: -16px;
    left: -21px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 11px 23px #fff;
}

.navigation .show::after {
    content: "";
    position: absolute;
    top: -16px;
    right: -21px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -11px 23px #fff;
}
